.list-view {
    -fx-background-color: transparent;
    background-color: transparent;
}

.scroll-bar:vertical,
.scroll-bar:horizontal {
    background-color: transparent;
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    background-color: transparent;
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #273c75;
    background-color: #273c75;
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.list-cell {
    -fx-text-fill: #dcdde1;
    -fx-background-color: transparent;
    background-color: transparent;
}

.list-cell:filled:hover {
    -fx-background-color: #273c75;
    background-color: #273c75;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected {
    -fx-background-color: #273c75;
    background-color: #273c75;
    -fx-text-fill: white;
}